{% extends 'base.html' %}
{% block container %}
{% load bootstrap3 %}
<div>
    <span class="other-heading">Our Commitment</span>
    <p class="other-page-size"><b>News-Aggregator & Analyzer</b> is strongly committed to your right to privacy and
        to keeping your personal information secure. To earn your trust and confidence in our commitment,
        we are fully disclosing our privacy practices. We encourage you to read our privacy statement
        to understand what types of personally identifiable information we collect.</p>

    <p class="other-page-size">The <b>News-Aggregator & Analyzer</b> site contains links to other websites.
        It is not responsible for the privacy practices or the content of such websites.
        Also our website does not collect personally identifiable information about you.
        So the user details are fully secured.</p>

    <p class="other-page-size">The data contained in our website does not belong to <b>News-Aggregator & Analyzer</b>,
        we have gathered the data from two news sources <b><i>The Hindu</i></b> and <b><i>Times Of India</i></b>.</p>

    <span class="other-heading">Report Us</span>

    <p class="other-page-size">
        If at any time you believe that <b>News-Aggregator & Analyzer</b> or its members have not adhered to these
        principles, please notify news-aggregator & analyzer by e-mail at <a href="https://www.gmail.com"
                                                                             target="_blank">
        news_mva@gmail.com</a> and we will use all commercially reasonable efforts to promptly determine and correct
        the problem within the 24 hours of reporting.</p>
</div>
<!--
<div class="btn-back-align">
    <a href="{% url 'search:get_search' %}" class="btn btn-success ">Back</a>
</div>
-->
{% endblock %}